body{
	min-height: 100vh;
}
header{font-family: 'Lobster', cursive;}

.navigation{
	width: 100%;
    
	position: fixed;
    bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation ul {
	display: flex;
}
.navigation ul li{
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.navigation ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
	line-height: 75px;
	font-size: 1.5em;
	transition: 0.05s;
}
.navigation ul li.active a .icon{
	transform: translateY(-32px);
} 
.navigation ul li a .text{
	position: absolute;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.05s;
	opacity: 0;
	transform: translateY(20px);
}
.navigation ul li.active a .text
{
	opacity: 1;
	transform: translateY(10px);
}
.indicator{
	position: absolute;
	top: -50%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.navigation ul li:nth-child(1).active~.indicator{
	transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active~.indicator{
	transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active~.indicator{
	transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active~.indicator{
	transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active~.indicator{
	transform: translateX(calc(70px * 4));
}





